---
import BaseLayout from "../layouts/BaseLayout.astro";

type IncantationFrontmatter = {
	title: string;
	tags: string;
	excerpt?: string;
};

const Incantations = await Astro.glob<IncantationFrontmatter>(
	"./incantation/**/*.md"
);
---

<BaseLayout>
	<p>
		This is the personal website of The Dark Wizard Brandledorf. It's
		contents will be published shortly.
	</p>
</BaseLayout>
